<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
  <title></title>
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
<div class="product-container">
  <div class="breadcrumb">
    <a href="#" style="color: var(--color-primario);">Home</a> &gt;
    <span>{{product?.categoria}}</span>
  </div>

  <div class="product-main">
    <div class="product-images">
      <div class="main-image">
        <img [src]="'/img/' + product?.imagen" alt="Imagen" [attr.view-transition-name]="'producto-img-' + product?.id">
      </div>
    </div>

    <div class="product-details">
      <h1 class="product-title" *ngIf="!editMode" [attr.view-transition-name]="'producto-title-' + product?.id">{{ product?.nombre }}</h1>
      <input *ngIf="editMode" [(ngModel)]="product!.nombre" class="form-control">

      <div class="product-id">
        <span>Código: #{{ product?.id }}</span><br>
        <span *ngIf="!editMode">Marca: {{ product?.marca }}</span>
        <input *ngIf="editMode" [(ngModel)]="product!.marca" class="form-control">
      </div>

      <div class="seller-info">
        <span style="color: #4169e1;">Vendido y enviado por Eviden Componentes</span>
      </div>
    </div>

    <div class="product-purchase">
      <div class="price-container">
        <div class="current-price" *ngIf="!editMode">{{ product?.precio }}€</div>
        <input *ngIf="editMode" type="number" [(ngModel)]="product!.precio" class="form-control" />
      </div>

      <div class="shipping-info">
        <div>
          Envío:
          {{ product?.precio! < 70 ? '3.99€' : 'Gratis' }} </div>
            <div class="delivery-time">Recíbelo mañana</div>
        </div>

        <div class="store-availability">
          <span>Disponibilidad en tienda</span>
        </div>

        <ng-container *ngIf="product?.id as productId">
          <div *ngIf="!isAdmin">
            <button class="add-to-cart-btn" [disabled]="addBotonCarrito.has(productId)" (click)="addCarrito(product!)">
              {{ getTextoBoton(product!) }}
            </button>
          </div>
          <div *ngIf="!isAdmin">
            <button class="add-to-cart-btn" [disabled]="addBotonfavs.has(productId)" (click)="addFavorito(product!)">
              {{ getFavsTextoBoton(product!) }}
            </button>
          </div>

          <div *ngIf="isAdmin">
            <button class="add-to-cart-btn" (click)="editMethod()">
              {{ editMode ? 'Cancelar cambios' : 'Editar producto' }}
            </button>
            <button class="add-to-cart-btn" (click)="guardarProducto()" *ngIf="editMode"
              style="background-color: green;">
              Guardar cambios
            </button>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="product-description">
      <h2 class="section-title">Sobre el producto</h2>
      <p>{{ product?.nombre}}</p>
      <h2 class="section-title">Descripción</h2>
      <ul class="features-list">
        <li *ngIf="!editMode">{{ product?.descripcion }}</li>

        <li *ngIf="editMode">
          <textarea [(ngModel)]="product!.descripcion" class="form-control" rows="4"
            placeholder="Introduce la descripción del producto">
          </textarea>
        </li>
      </ul>
    </div>

    <hr>

    <div class="similar-products">
      <h2 class="section-title">Artículos de la misma categoría</h2>
      <div class="similar-products-container">
        <div class="similar-product" *ngFor="let similar of productosSimilares"
          [routerLink]="'/producto/' + similar.id">
          <img [src]="'/img/' + similar.imagen" [alt]="similar.nombre">
          <div class="similar-product-info">
            <p>{{ similar.nombre }}</p>
            <p class="similar-product-price">{{ similar.precio }}€</p>
          </div>
        </div>
      </div>

      <div class="view-more-container" *ngIf="productosSimilares.length > 0">
        <a [routerLink]="'/'">Ver más productos</a>
      </div>
    </div>

    <div class="reviews-section">
      <h2 class="section-title">Opiniones</h2>

      <div class="reviews-summary">
        <div class="overall-rating">
          <div class="rating-number">{{ ratingAverage || '0.0 '}}</div>
          <div class="rating-stars">
            <span *ngFor="let star of [1,2,3,4,5]" class="star" [class.filled]="star <= ratingAverage">★</span>
          </div>
          <div class="total-reviews">{{ totalReviews }} Opiniones</div>
        </div>

        <div class="rating-distribution">
          <div *ngFor="let nivel of [5,4,3,2,1]; let i = index" class="rating-bar">
            <span class="rating-level">{{ nivel }} ★</span>
            <div class="progress-container">
              <div class="progress-bar" [style.width]="getPorcentaje(nivel) + '%'"></div>
            </div>
            <span class="rating-count">{{ ratingCounts[nivel - 1] }}</span>
          </div>
        </div>
      </div>

      <div class="leave-review">
        <h3>Deja tu opinión</h3>
        <p>Te costará un minuto, ayudarás a la gente a decidirse.</p>
        <button class="add-review-btn" (click)="openReviewDialog()">Añadir opinión</button>
      </div>
    </div>

    <div class="user-reviews" *ngIf="product?.comentarios?.length">
      <div class="review" *ngFor="let comentario of product?.comentarios">
        <div class="review-rating">
          <span class="star" *ngFor="let star of [1,2,3,4,5]" [class.filled]="star <= comentario.nota">★</span>
        </div>
        <div class="review-content">
          <p><strong>Pros:</strong> {{ comentario.pros }}</p>
          <p><strong>Contras:</strong> {{ comentario.contras }}</p>
          <p>{{ comentario.opinion }}</p>
        </div>

        <div *ngIf="isLoggedIn">
          <button (click)="editarComentario(comentario)" class="edit-button" *ngIf="!isAdmin">Editar</button>
        </div>
        <br>
        <div *ngIf="isLoggedIn">
          <button (click)="eliminarComentario(comentario.id!)" class="edit-button" *ngIf="!isAdmin">Eliminar</button>
        </div>
        <hr>
      </div>
    </div>

  </div>