<div class="principal">
  <div class="filtros-container">
    <h3>Filtros populares</h3>

    <div class="checkbox-filters">
      <div class="filter-item">
        <input type="checkbox" id="componentes" [value]="'COMPONENTES'" (change)="onCategoryChange($event)">
        <label for="componentes">Componentes</label>
      </div>
      <div class="filter-item">
        <input type="checkbox" id="ordenadores" [value]="'ORDENADORES'" (change)="onCategoryChange($event)">
        <label for="ordenadores">Ordenadores</label>
      </div>
      <div class="filter-item">
        <input type="checkbox" id="periféricos" [value]="'PERIFÉRICOS'" (change)="onCategoryChange($event)">
        <label for="periféricos">Periféricos</label>
      </div>
      <div class="filter-item">
        <input type="checkbox" id="televisores" [value]="'TELEVISORES'" (change)="onCategoryChange($event)">
        <label for="televisores">Televisores</label>
      </div>
      <div class="filter-item">
        <input type="checkbox" id="sonido" [value]="'SONIDO'" (change)="onCategoryChange($event)">
        <label for="sonido">Sonido</label>
      </div>
    </div>

    <div class="filter-section">
      <div class="filter-header">
        <h4>Precio</h4>
        <i class="fa fa-chevron-up"></i>
      </div>
      <div class="price-range-container">
        <div class="price-slider-container">
          <input type="range" min="0" max="1300" [(ngModel)]="minPrice" (input)="updatePriceFilter()"
            class="price-slider min-price">
          <input type="range" min="0" max="1300" [(ngModel)]="maxPrice" (input)="updatePriceFilter()"
            class="price-slider max-price">
          <div class="price-slider-track"></div>
        </div>
        <div class="price-values">
          <span class="min-price-value">{{minPrice}}€</span>
          <span class="max-price-value">{{maxPrice}}€</span>
        </div>
      </div>
    </div>

    <div class="filter-section">
      <div class="filter-header">
        <h4>Marca</h4>
      </div>

      <div class="search-box">
        <input type="text" placeholder="Buscar marca..." [(ngModel)]="brandSearchTerm"
          (input)="aplicarTodosFiltros()" />
      </div>
    </div>
    <div class="filter-actions">
      <button (click)="aplicarTodosFiltros()" class="apply-filters-btn">Aplicar filtros</button>
      <button (click)="borrarTodosFiltros()" class="apply-filters-btn">Borrar filtros</button>
    </div>
  </div>

  <div class="products-container">
    <div class="sorting-options">
      <div class="product-count">{{ displayedProducts.length }} productos</div>
    </div>

    <div class="product-grid">
      <!-- Listado de productos -->
      <div class="product-card" *ngFor="let product of displayedProducts" (click)="irAlProducto(product.id!)"
        style="cursor: pointer;">
        <div class="product-image">
          <img [src]="'/img/' + product.imagen" [alt]="product.nombre" [attr.view-transition-name]="'producto-img-' + product.id"/>
        </div>
        <div class="product-info">
          <h3 class="product-title" [attr.view-transition-name]="'producto-title-' + product.id">{{product.nombre}}</h3>
          <p class="product-category" style="font-size: 0.8em; color: #666; margin-left: 10px;">
            Categoría: {{product.categoria}}
          </p>
          <div class="product-price">
            <span class="current-price">{{product.precio}}€</span>
          </div>
          <div class="shipping-info">
            <span class="free-shipping">Envío:
          {{ product?.precio! < 70 ? '3.99€' : 'Gratis' }}</span>
          </div>
        </div>
      </div>

      <!-- Mensaje si no hay productos -->
      <div *ngIf="displayedProducts.length === 0" style="grid-column: 1/-1; text-align: center; padding: 20px;">
        <p>No se encontraron productos que coincidan con los filtros seleccionados.</p>
      </div>
    </div>
  </div>
</div>